@import url("http://fonts.googleapis.com/css?family=Share+Tech+Mono");
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::selection {
  background: #b4e854;
  color: #151515;
  text-shdow: none;
}
::moz-selection {
  background: #b4e854;
  color: #151515;
  text-shdow: none;
}
.text,
header h1,
#t-ip,
#copy {
  color: #b4e854;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(180,232,84,0.1), 0 0 10px rgba(180,232,84,0.1);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Share Tech Mono' 'sans-serif';
  background-color: #151515;
  font-size: 1em;
  color: #444;
}
header {
  padding: 0.5em 0.2em 0.5em;
  background-color: rgba(8,8,8,0.5);
  border-bottom: 1px dashed #e85754;
  text-align: center;
}
header h1 {
  margin: 0em;
  font-size: 2.5em;
}
.container {
  position: relative;
  overflow: hidden;
  text-align: center;
}
#t-ip {
  font-size: 2em;
  margin: 1em auto 21px;
  padding: 0.5em 0.2em 0.5em;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
#copy {
  background-color: rgba(8,8,8,0.5);
  border: 2px dashed #e85754;
  color: #e85754;
  position: absolute;
  top: -1.5em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: top ease 0.25s;
  -moz-transition: top ease 0.25s;
  -o-transition: top ease 0.25s;
  -ms-transition: top ease 0.25s;
  transition: top ease 0.25s;
  left: 50%;
  margin-left: -2.5em;
  padding: 1.5em 0.5em 0.25em;
  line-height: 1.5em;
  width: 4em;
}
p {
  font-size: 1.3em;
  line-height: 1.8;
}
footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-top: 1px dashed #e85754;
  background-color: #080808;
  font-size: 10px;
  font-family: Georgia, serif;
}
footer h6 {
  margin: 0;
  padding: 0 1em;
  font-size: 10px;
  line-height: 2em;
  height: 2em;
  text-align: right;
#808080
}
footer h6:after {
  content: "...";
}
footer h6 a {
  color: #e85754;
  margin: 0 0.5em;
  text-decoration: none;
}
.onlydesktop {
  display: none;
}
.nomobile {
  display: none;
}
/* ==============================================
   Media Queries
   ============================================== */
@media only screen and (min-width: 320px) {
  body {
    font-size: 1.75em;
  }
}
@media only screen and (min-width: 480px) {
  body {
    font-size: 2.5em;
  }
  .nomobile {
    display: initial;
  }
}
@media only screen and (min-width: 650px) {
  .onlydesktop {
    display: initial;
  }
  body:hover #copy {
    top: -1.5em;
  }
  .container #copy {
    top: -4em;
  }
  footer h6:after {
    content: "";
  }
  .qrqode img {
    margin: 0 auto;
    display: block;
  }
  .safareli {
    position: relative;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .safareli:hover .bubble {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    bottom: 4em;
    left: 4em;
  }
  .safareli .bubble {
    display: table;
    width: 10em;
    height: 10em;
    line-height: 2em;
    padding: 1em 1em;
    font-family: 'Alegreya SC', Georgia, serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    border: 5px dashed #e85754;
/*color major-color*/
    background: rgba(21,21,21,0.75);
    text-indent: 0px;
    position: absolute;
    pointer-events: none;
    bottom: -4em;
    left: -4em;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .safareli .bubble:before,
  .safareli .bubble:after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: -1em;
    left: -1em;
    border: 2px dashed #e85754;
    width: 5em;
    height: 5em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .safareli .bubble:after {
    bottom: -2em;
    left: -2em;
    width: 3em;
    height: 3em;
  }
  .safareli .bubble .bubble-text {
    font-size: 1.4em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  #t-ip {
    position: relative;
    margin: 1.5em auto 21px;
    display: inline-block;
    padding: 0.1em 0.2em 0.1em;
  }
}
